<section class="mx-4">
    <!-- Container start -->
    <div class="d-flex justify-content-between mx-5 divcont">
          
           <!-- Image Start -->
           <div class="imageBox d-flex flex-column justify-content-center col-lg-6">
    
               <div class="panel left-panel">
    
                <img src="./../../../../../../assets/registreGiver.png" alt="registre-img" class="image my-5" width="450px">
    
               </div>
           </div>
           <!-- Image End -->
    
         
    
          <!-- Form Start -->
          <div class="formBox col-lg-6 my-5"> 
              <label for=""><h2 >Giver space</h2></label>
    
              <!-- SignUp Form Start -->
              <form action="#" class="signup-form my-2">
    
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="nom">First Name</label>
                        <input type="text" id="nom" class="form-control">
                    </div>
      
                    <div class="form-group col-sm-6">
                      <label for="prenom">Last Name</label>
                      <input type="text" id="prenom" class="form-control">
                  </div>
                </div>
    
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control">
                </div>
    
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control">
                </div>
    
                <div class="form-group">
                    <label for="confirmation">Confirmation</label>
                    <input type="password" id="confirmation" class="form-control">
                </div>
    
                <div class="form-group" align="center" >
                    
                    <br>
                    <input type="submit" value="Sign Up" class="btn main-btn-secondary" >
                </div>
    
              </form>
              <!-- SignUp Form End -->
              <div align="center" class="my-4">
                <p>Do you already have an account?</p>
                <a href="" class="text-decoration-1 txtconnect" >Login</a>
              </div>
            
    
          </div>
          <!-- Form End -->
    
     </div>
     <!-- Container End -->
        
    
    </section>
    
