<div class="row">
  <div class="col-md-5" style="color:  var(--mainColor);"><h3>Vos contributions</h3></div>
  
</div>
<hr>
<div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">objet</th>
            <th scope="col">beneficiary</th>
            <th scope="col" colspan="2" style="text-align: center;">action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vaitement</td>
            <td>beneficiary</td>
            <td><button class="btn btn-primary" style="background-color:  var(--mainColor); border-color:  var(--mainColor);">details</button></td><td> <button class="btn btn-success" style="background-color:  var(--mainColor); border-color:  var(--mainColor);">payer</button></td>
          </tr>
          <tr>
            <td>Abonnement</td>
            <td>beneficiary</td>
            <td><button class="btn btn-primary" style="background-color:  var(--mainColor); border-color:  var(--mainColor);">details</button></td><td> <button class="btn btn-success" style="background-color:  var(--mainColor); border-color:  var(--mainColor);">payer</button></td>
          </tr>
        </tbody>
      </table>
</div>