
<div class="row titleH" *ngIf="afficherRecherch == 0">
  <div class="col-md-5">
    <h5 style= "color: var(--txtColor);">ALERT   </h5>
  </div> 
  <div class="col-md-7 searchDiv">
    <button *ngIf="afficherRecherch == 0" class="search" (click)="displaySearch()">
      TRIER PAR
    </button>
  </div>
 </div>
 <div class="row grp" *ngIf="afficherRecherch == 1">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-light btnGrpSearch radiusLeft" (click)="chercherAlert('vétement'); displaySearch()">vétement</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherAlert('abonnement_transport');chercherAlert('abonnement_mobile'); displaySearch()">abonnement</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherAlert('formation'); displaySearch()">formation</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherAlert('autre'); displaySearch()">autre</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch radiusRight" (click)=" chargerActions(); displaySearch()">tout</button>
  </div>
</div>
 <div class="row  p-0 " style="height:180px;">
 
 <div class="alert " style=" display: flex; justify-content: flex-start; flex-wrap: wrap;">
   <button class="card" style="width: 103px;  "  *ngFor="let action of listActions | paginate: { id: 'id2', itemsPerPage: 4, currentPage: page, totalItems: totalLength }" (click)="selectedalert(action._id); open(content)" >
      <div class="panel panel-default card-input" style="margin: auto;"  >
         <div class="panel-body" style="color: var(--mainColor);" >
            <div class="icn" >
               <i class="fas fa-people-carry" style="font-size: 40px;"></i>
            </div>
             
                <h6 *ngIf="action.vetement.selected == 'true'">vétement</h6>
                <h6  *ngIf="action.abonnement_mobile.selected == 'true' || action.abonnement_transport.selected == 'true' ">abonnement</h6>
                <h6 *ngIf="action.autre.selected == 'true'">autre</h6>
                <h6 style="margin-top: 0px;margin-bottom: 5px;"> date : {{ action.date_action | date:'dd-MM-yyyy' }} </h6>
           
         </div>
      </div>
   </button>
      
 </div>
 <div class="row">
   <div class="col-md-12">
     <pagination-controls id="id2" class="my-pagination hide-page-numbers"(pageChange)="page = $event"></pagination-controls>
   </div>
 </div>
 

 
 </div>
 
 
 
 





































<!--  ---------------------modal popup ------------------------- -->

<ng-template #content let-modal>
  <div class="modal-header tittle-model" >
    <h4 class="modal-title" id="modal-basic-title">Aider user 1  <i class="fas fa-hands-helping"></i> </h4> 
    <!-- <button type="button"  class="close btn btn-outline-danger cls" aria-label="Close" (click)="modal.dismiss('Cross click')" style ="outline: none !important;">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body" style="height: 500px; overflow-y: scroll;">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" colspan="2">Informations de bénéficiaire</th>
        </tr>
      </thead>
      <tbody *ngFor="let benif of selectedAlert">
        <tr>
          <td>Nom complet :</td>
          <td><label>{{ benif.benificier.last_name }}  {{ benif.benificier.first_name }}</label></td>
        </tr>
        <tr>
          <td>sexe :</td>
          <td><label>{{ benif.benificier.gender }} </label></td>
        </tr>
        <tr>
          <td>Age :</td>
          <td><label>{{ benif.benificier.age }}</label></td>
        </tr>
        <tr>
          <td>Tél :</td>
          <td><label>{{ benif.benificier.phone }}</label></td>
        </tr>
        <tr>
          <td>Email :</td>
          <td><label>{{ benif.benificier.email }}</label></td>
        </tr>
        <tr>
          <td>Adresse :</td>
          <td><label>{{ benif.benificier.adress }}</label></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let action of selectedAlert" >
          <td>Date de disposition :</td>
          <td><label>{{ action.date_action | date:'dd-MM-yyyy' }}</label></td>
        </tr>
       
      </tbody>
    </table>
       <div class="vetement" *ngIf="selectedAlert[0].vetement.selected == 'true'">
       
          <h6>vétement </h6>
        
            <div class="row">
              <div class="col-md-4 alEnd">
                type :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAlert[0].vetement.type }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 alEnd">
                size :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAlert[0].vetement.size }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 alEnd">
                sexe :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAlert[0].vetement.gender }}</label>
              </div>
            </div>
       <hr>
       </div>
      
       <div class="abonnement"  *ngIf="selectedAlert[0].abonnement_mobile.selected == 'true' || selectedAlert[0].abonnement_transport.selected == 'true' ">
       
        <h6>Abonnement </h6>
      
          <div class="row" *ngIf="selectedAlert[0].abonnement_transport.selected == 'true'">
            <div class="col-md-4 alEnd">
              transport :
            </div>
            <div class="col-md-8 alCenter">
              <label>type : {{selectedAlert[0].abonnement_transport.type_abonnement}} </label>
            </div>
          </div>
          <div class="row" *ngIf="selectedAlert[0].abonnement_mobile.selected == 'true'" >
            <div class="col-md-4 alEnd">
              mobile :
            </div>
            <div class="col-md-8 alCenter">
              <label>operateur : {{selectedAlert[0].abonnement_mobile.operateur}}</label>
            </div>
          </div>
    <hr>
     </div>
     
    

    <div class="autre" *ngIf="selectedAlert[0].autre.selected == 'true'">
       
      <h6>  </h6>
   
       <div class="row">
         <div class="col-md-4 alEnd">
           autre :
         </div>
         <div class="col-md-8 alCenter">
           <label>{{selectedAlert[0].autre.text}}</label>
         </div>
       </div>
       
   <hr>
     </div> 


    <div class="row">
          <div class="col-md-4">
              Plus de détails :
          </div>
          <div class="col-md-8" *ngFor="let action of selectedAlert" >
              <p>{{ action.details }}</p> 
          </div>
    </div> 
         
           
        
  
  </div> 
  <div class="modal-footer " >
      <button type="submit" class="main-btn-secondary border-0 mx-2 btn" (click)="contribuer(selectedAlert[0]._id); modal.close('Save click'); reload();">Contribuer</button>
      <button type="button" class="main-btn-secondary border-0 mx-2 btn" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>


