@use "../../helpers" as *;

.section {
    background-color: color(main-color);
    padding: 2rem;
    & h3 {
        color: color(light);
    }
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    color: color(light);
    font-size:1.5rem;
    font-weight: 700;
    &:hover {
        color: color(third-color);
    }
}

