:root {
    /* colors */
    --mainColor: #B8B5FF;
    /* darkcolor */
    --darkmainColor: #6C63FF;

    --secondaryColor: #E4FBFF;
    /* border raduis */
    --masterBorderRadius: 20px;
    /* fonts size */
    --minFontSize: 12px;
    /* text color */
    --txtColor: #fff;
    /* main bg color  */
    --mainBgColor: #FDFDFF;
    /* main font-weight */
    --mainFontWeight:800;
    /* Color Text */
    --ColorText:gray;
    /* Authentification color */
    --authColor:#7DDBEB;
  }

td{
    background-color: var(--mainBgColor);
}

/* button Detail */
.btn-detail{
    background-color: var(--mainColor) ;
}

.btn-detail:hover{
    /* background-color: var(--darkmainColor); */
    background-color: #6C63FF;
}

/* button valider */
.btn-valider{
    background-color: green;
    border: 3px solid green ;
    color: white;
}

/* button validée */
.btn-validée{
    background-color: transparent;
    color: green;
    border: 3px solid green ;
}

/* icon */
i{
    width: 1em;
}

/* labels */
label{
    color: var(--ColorText);
    font-size: 17px;
    padding-left: 5px;
    font-weight: 600;
  }

/* box shadow and radius table */
table{
    background-color: var(--mainColor); 
    border-collapse: collapse;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0.5px rgb(226, 226, 226);
}

/* detail modal */
.row{
    padding: 1rem;
    border-bottom: 1px solid rgb(220, 220, 220) ;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    user-select: none;
    margin: 1em;
}

@media only screen and (max-width: 800px) {
    table{
        width: 30rem ;
    }
}


