<div class="row titleH">
  <h5 style= "color: var(--authColor);">CONTRIBUER </h5>
</div>
<div class="row ">
<div class="actions " style=" display: flex; justify-content: flex-start;flex-wrap: wrap;">
  <button class="card" *ngFor="let action of listActions | paginate: { itemsPerPage: 4, currentPage: page2, totalItems: totalLength2 }" (click)=" open(content) ; selectedaction(action._id);" >
     <div class="panel panel-default card-input" style="margin: auto;"  >
        <div class="panel-body" style="color: var(--authColor);" >
           <div class="icn" >
              <i class="fas fa-hands-helping" style="font-size: 40px;"></i>
           </div>
           
           <h6 *ngIf="action.vetement.selected == 'true'">vétement</h6>
            <h6 *ngIf="action.abonnement_mobile.selected == 'true' || action.abonnement_transport.selected == 'true' ">abonnement</h6>
            <h6 *ngIf="action.autre.selected == 'true'">autre</h6>
          <h6 style="margin-bottom: 5px;"> date: {{ action.date_action | date:'dd-MM-yyyy' }}  </h6> 
          
     
        </div>
     </div>
  </button>
     
</div>
<div class="row">
  <div class="col-md-12">
    <pagination-controls id="id2" class="my-pagination hide-page-numbers"(pageChange)="page2 = $event"></pagination-controls>
  </div>
</div>
</div>





































<!--  ---------------------modal popup ------------------------- -->

<ng-template #content let-modal>
  <div class="modal-header tittle-model" >
    <h4 class="modal-title" id="modal-basic-title">Aider user 1  <i class="fas fa-hands-helping"></i> </h4> 
    <!-- <button type="button"  class="close btn btn-outline-danger cls" aria-label="Close" (click)="modal.dismiss('Cross click')" style ="outline: none !important;">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body" style="height: 500px; overflow-y: scroll;">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" colspan="2">Informations de bénéficiaire</th>
        </tr>
      </thead>
      <tbody *ngFor="let benif of selectedBenif">
        <tr>
          <td>Nom complet :</td>
          <td><label>{{ benif.last_name }}  {{ benif.first_name }}</label></td>
        </tr>
        <tr>
          <td>sexe :</td>
          <td><label>{{ benif.gender }} </label></td>
        </tr>
        <tr>
          <td>Age :</td>
          <td><label>{{ benif.age }}</label></td>
        </tr>
        <tr>
          <td>Tél :</td>
          <td><label>{{ benif.phone }}</label></td>
        </tr>
        <tr>
          <td>Email :</td>
          <td><label>{{ benif.email }}</label></td>
        </tr>
        <tr>
          <td>Adresse :</td>
          <td><label>{{ benif.adress }}</label></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let action of selectedAction" >
          <td>Date de disposition :</td>
          <td><label>{{ action.date_action | date:'dd-MM-yyyy' }}</label></td>
        </tr>
       
      </tbody>
    </table>
       <div class="vetement" *ngIf="selectedAction[0].vetement.selected == 'true'">
       
          <h6>vétement </h6>
        
            <div class="row">
              <div class="col-md-4 alEnd">
                type :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAction[0].vetement.type }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 alEnd">
                size :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAction[0].vetement.size }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 alEnd">
                sexe :
              </div>
              <div class="col-md-8 alCenter">
                <label>{{ selectedAction[0].vetement.gender }}</label>
              </div>
            </div>
       <hr>
       </div>
      
       <div class="abonnement">
       
        <h6>Abonnement </h6>
      
          <div class="row" *ngIf="selectedAction[0].abonnement_transport.selected == 'true'">
            <div class="col-md-4 alEnd">
              transport :
            </div>
            <div class="col-md-8 alCenter">
              <label>type : {{selectedAction[0].abonnement_transport.type_abonnement}}</label>
            </div>
          </div>
          <div class="row" *ngIf="selectedAction[0].abonnement_mobile.selected == 'true'" >
            <div class="col-md-4 alEnd">
              mobile :
            </div>
            <div class="col-md-8 alCenter">
              <label>{{  selectedAction[0].abonnement_mobile.operator }}</label>
            </div>
          </div>
    
     </div>
     <hr>
    

    <div class="autre" *ngIf="selectedAction[0].selected == 'true'">
       
      <h6>Autre type  </h6>
   
       <div class="row">
         <div class="col-md-4 alEnd">
           autre :
         </div>
         <div class="col-md-8 alCenter">
           <label>téléphone portable</label>
         </div>
       </div>
       
   <hr>
     </div> 


    <div class="row">
          <div class="col-md-4">
              Plus de détails :
          </div>
          <div class="col-md-8" *ngFor="let action of selectedAction" >
              <p>{{ action.details }}</p> 
          </div>
    </div> 
         
           
        
     
      <!-- <div class="row" class="row">
          <div class="col-md-6">
              Nom complet : <br>
              sexe : <label>M</label> <br>
              Age : <label>20</label><br>
              Tél : <label>0604060406</label><br>
              Email : <label>user@mail.com</label><br>
              Adresse : <label>33 rue  </label>
          </div>
          <div class="col-md-6"><br>
            <img style="height: 100px; width: 100px; margin-left: 20%;" src="../../../../../../assets/user.png" alt="">
          </div>
      </div>
      <hr>
      <div>
          Objet/Service : <label>Abonnement tram</label><br>
          Plus de détails : <label>j'ai besoins d'une carte abonnemenet tram pour aller au centre de formation</label>
      </div>-->
  </div> 
  <div class="modal-footer " >
      <button type="button" class="main-btn-secondary border-0 mx-2 btn" (click)="contribuer() ; modal.close('Save click') " >Contribuer</button>
      <button type="button" class="main-btn-secondary border-0 mx-2 btn" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>