<div class="row titleH" *ngIf="afficherRecherch == 0"  >
  <div class="col-md-7">
  <h5 style= "color: var(--authColor);">CONTRIBUER </h5>
  </div>
  <div class="col-md-5 searchDiv">
    <button *ngIf="afficherRecherch == 0" class="search" (click)="displaySearch()">
      TRIER PAR
    </button>
  </div>
</div>
<div class="row grp" *ngIf="afficherRecherch == 1">
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-light btnGrpSearch radiusLeft" (click)="chercherActions('vétement'); displaySearch()">vétement</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherActions('abonnement_transport');chercherActions('abonnement_mobile'); displaySearch()">abonnement</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherActions('formation'); displaySearch()">formation</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch" (click)="chercherActions('autre'); displaySearch()">autre</button>
    <button type="button" class="btn btn-outline-light btnGrpSearch radiusRight" (click)=" chargerActions(); displaySearch()">tout</button>
  </div>
</div>
<div class="row ">
<div class="actions " style=" display: flex; justify-content: flex-start;flex-wrap: wrap;">
  <button class="card" *ngFor="let action of listActions | paginate: { itemsPerPage: 3, currentPage: page2, totalItems: totalLength2 }" (click)=" open(content) ; selectedaction(action._id);" >
     <div class="panel panel-default card-input" style="margin: auto;"  >
        <div class="panel-body" style="color: var(--authColor);" >
           <div class="icn" >
              <i class="fas fa-hands-helping" style="font-size: 40px;"></i>
           </div>
           
           <h6 *ngIf="action.vetement.selected == 'true'">vétement</h6>
            <h6 *ngIf="action.abonnement_mobile.selected == 'true' || action.abonnement_transport.selected == 'true' ">abonnement</h6>
            <h6 *ngIf="action.autre.selected == 'true'">autre</h6>
          <h6 style="margin-bottom: 5px;"> date: {{ action.date_action | date:'dd-MM-yyyy' }}  </h6> 
          
     
        </div>
     </div>
  </button>
     
</div>
<div class="row">
  <div class="col-md-12">
    <pagination-controls  class="my-pagination hide-page-numbers"(pageChange)="page2 = $event"></pagination-controls>
  </div>
</div>
</div>





































<!--  ---------------------modal popup ------------------------- -->

<ng-template #content let-modal>
  <div class="modal-header " style="color: var(--ColorText);" >
    <h4 class="modal-title" id="modal-basic-title">Aider user 1  <i class="fas fa-hands-helping"></i> </h4> 
    <button type="button" class=" close main-btn-secondary border-0 mx-2 btn" aria-label="Close" (click)="modal.close('Save click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="modal-body bg-light" style=" display:flex; justify-content: center; flex-wrap: wrap; padding-top: 0px; padding-left: 0px; padding-right: 0px; ">

        <div class="btn-group " role="group" aria-label="Basic outlined example" style="width: 100%; margin-top: 0px;">
          <button type="button" class="btn btn-outline-light btnGrpSearchPopUP " (click)="displayBenifDetails()">Informations de bénéficiaire</button>
          <button type="button" class="btn btn-outline-light btnGrpSearchPopUP " (click)="displayActioonDetails()">Informations d'action</button>
        </div>


        <div style="width: 80%; margin-top: 10px; " *ngIf="afficherDetails == 'benif'">
        <table class="table table-sm" >
          <thead>
            <tr>
              <!-- <th scope="col" colspan="2">Informations de bénéficiaire</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let benif of selectedAction">
            <tr>
              <td>Nom complet :</td>
              <td><label>{{ benif.benificier.last_name }}  {{ benif.benificier.first_name }}</label></td>
            </tr>
            <tr>
              <td>sexe :</td>
              <td><label>{{ benif.benificier.gender }} </label></td>
            </tr>
            <tr>
              <td>Age :</td>
              <td><label>{{ benif.benificier.age }}</label></td>
            </tr>
            <tr>
              <td>Tél :</td>
              <td><label>{{ benif.benificier.phone }}</label></td>
            </tr>
            <tr>
              <td>Email :</td>
              <td><label>{{ benif.benificier.email }}</label></td>
            </tr>
            <tr>
              <td>Adresse :</td>
              <td><label>{{ benif.benificier.adress }}</label></td>
            </tr>
          </tbody>
        </table>
        </div>

        <div style="width: 80%; margin-top: 10px;" *ngIf="afficherDetails == 'action'">
              
              <div class="vetement text" *ngIf="selectedAction[0].vetement.selected == 'true'" >
                    <label>vétement </label>
                  
                      <div class="row">
                        <div class="col-md-4 alEnd">
                        <label>type :</label> 
                        </div>
                        <div class="col-md-8 alCenter">
                          <label>{{ selectedAction[0].vetement.type }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 alEnd">
                        <label>size :</label> 
                        </div>
                        <div class="col-md-8 alCenter">
                          <label>{{ selectedAction[0].vetement.size }}</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 alEnd">
                        <label>sexe :</label> 
                        </div>
                        <div class="col-md-8 alCenter">
                          <label>{{ selectedAction[0].vetement.gender }}</label>
                        </div>
                      </div>
                <hr>
              </div>
              
              <div class="abonnement text"   *ngIf="selectedAction[0].abonnement_mobile.selected == 'true' || selectedAction[0].abonnement_transport.selected == 'true' ">
                
                  <label>Abonnement </label>
                
                    <div class="row" *ngIf="selectedAction[0].abonnement_transport.selected == 'true'">
                      <div class="col-md-4 alEnd">
                      <label >transport :</label>  
                      </div>
                      <div class="col-md-8 alCenter">
                        <label>type : {{selectedAction[0].abonnement_transport.type_abonnement}}</label>
                      </div>
                    </div>
                    <div class="row" *ngIf="selectedAction[0].abonnement_mobile.selected == 'true'" >
                      <div class="col-md-4 alEnd">
                      <label >mobile :</label> 
                      </div>
                      <div class="col-md-8 alCenter">
                        <label>{{  selectedAction[0].abonnement_mobile.operator }}</label>
                      </div>
                    </div>
              <hr>
              </div>
                
          
              <div class="autre text" *ngIf="selectedAction[0].autre.selected == 'true'">  
                <div class="row text ">
                  <div class="col-md-4">
                    <label>Autre type :</label>
                  </div>
                  <div class="col-md-8 alCenter">
                    <label>{{selectedAction[0].autre.text}}</label>
                  </div><hr>
                </div>
                
                
                </div> 

              <div class="row text" *ngFor="let action of selectedAction">
          
                <div class="col-md-4">Annoncé le :</div>
                <div class="col-md-8"><label>{{ action.date_action | date:'dd-MM-yyyy' }}</label></div>
                <hr>
              </div>

              <div class="row text" >
                <div class="col-md-4">
                    Plus :
                </div>
                <div class="col-md-8" *ngFor="let action of selectedAction" >
                    <p>{{ action.details }}</p> 
                </div>
                <hr>
              </div> 
            
        </div> 
  </div>
   
  <div class="modal-footer " >
      <button type="button" class="main-btn-secondary border-0 mx-2 btn" (click)="contribuer(selectedAction[0]._id) ; modal.close('Save click') " >Contribuer</button>
      <button type="button" class="main-btn-secondary border-0 mx-2 btn" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>