<div class="row">
  <div class="col-md-5" style="color:  var(--mainColor);"><h3>commancer à aider</h3></div>
  
</div>
<hr>
<div class="row">
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; ">
       
        <div *ngFor="let action of actions" class="card" style="width: 11rem;" >
          <img class="card-img-top" src={{action.src}} >
          <div class="card-body" style="text-align: center;">
          <h5 class="card-title">{{action.nomAction}}</h5>
             <a href="#" class="btn btn-primary" style="background-color:  var(--mainColor); border-color:  var(--mainColor);">contribuer</a>
            </div>
          </div>
          
        
   </div>
  
</div>