<br><br><div class="container" style="margin: auto;">
<div class="row " style=" width: 100%; display: flex; justify-content: center;">



   <!-- actions component ::  -->
   <div class="col-sm-11 alertscmp " style="  background-color: var(--mainColor) ; border-radius: 30px; display: flex; justify-content: center;" >
      <div class="container  p-0" >        
         <app-actions></app-actions>
      </div>     
   </div>

   
</div>
<br>

    <!-- list des contribution  -->
    <!-- lors le giver clique contribuer l'action s'affiche directement dans cette liste  -->
    
<div class="row " style="width: 100%; display: flex; justify-content: center;">
   <div class="col-sm-11 alertscmp mr-0" style="background-color: white ; border-radius: 30px; display: flex; justify-content: flex-start;" >
      <div class="container  p-0" style="height:100%;" >
         <app-details></app-details>
      </div>     
   </div>

</div>
</div>



