<br><br><div class="container" style="margin: auto;">
<div class="row" style=" width: 100%; display: flex; justify-content: space-between;">
   <div class="col-md-6 alertscmp " style=" width: 49%;  background-color: var(--mainColor) ; border-radius: 30px; display: flex; justify-content: flex-start;" >
      <div class="container  p-0" >
         <app-alert></app-alert>
      </div>     
   </div>
   <div class="col-md-6 alertscmp " style=" width: 49%; background-color: var(--secondaryColor) ; border-radius: 30px; display: flex; justify-content: flex-start;" >
      <div class="container  p-0" >        
         <app-actions></app-actions>
      </div>     
   </div>

   
</div>
<br>
<div class="row " style=" display: flex; justify-content: center;">
   <div class="col-md-8 alertscmp " style="background-color: white ; border-radius: 30px; display: flex; justify-content: flex-start;" >
      <div class="container  p-0" style="height:100%;" >
         <app-details></app-details>
      </div>     
   </div>
</div>
</div>



