<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-alert></app-alert>
            
        </div>
        <!-- <div class="col-md-4">
            <br><br><br>
            <app-info></app-info>
        </div> -->
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
           
            <app-actions></app-actions>
        </div>
       
    </div><br><br>
    <div class="row">
        
       
        <app-details></app-details>
    </div>
</div>