// Global colors
$colors: (
    // "main-color": #97a5e7,
    "main-color": #6674d0,
    "seconde-color": #97a5e7,
    "third-color": #c8d6f5,
    "body-color": #fefefe,
    "transparent-color": transparent,
    "danger": #fd8181,
    "success": #25e69c,
    "dark": #333333,
    "light": #ffffff,
    "info": #00aeff,
);

// Global border size
$main-border: 2px solid ; 

// Global border radius
$main-border-radius: 22px;

// Global box shadow
$btn-box-shadow: 1px 6px 14px rgb(142 142 142 / 5%);
$card-box-shadow: 1px 6px 14px rgb(142 142 142 / 5%);

// Global font weights
$font-weights: (
    "regular": 400,
    "bold": 600,
);

// Global font sizes
$font-sizes: (
    "small": 12px,
    "medium": 15px,
    "large": 20px,
);

// Breakpoints 
// Mobile
$mobile-min-screen : 320px;
$mobile-max-screen : 490px;
// Tablet
$tablet-min-screen : 520px;
$tablet-max-screen : 768px;

