@use "../helpers" as *;

.home_section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left_section {
  height: 40%;
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;

  @include mobile($mobile-min-screen, $mobile-max-screen) {
    & {
      width: 100%;
    }
  }
}

.right_section {
  z-index: 6;
  margin-top: auto;
  margin-bottom: auto;

  a {
    transition: 0.5s;
    text-decoration: none;
  }
}

.bg_giver {
  background-image: linear-gradient(#6674d0d7, #6674d046),
    url("https://images.pexels.com/photos/6348104/pexels-photo-6348104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(#6674d046, #6674d0d7);
  }
}

.bg_benif {
  background-image: linear-gradient(#6674d0d7, #6674d046),
    url("https://images.pexels.com/photos/4144095/pexels-photo-4144095.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;

  &:hover {
    background: linear-gradient(#6674d046, #6674d0d7);
  }
}

/* ::::::::::: Circle ::::::::::: */

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, color("seconde-color") 0%, color("main-color") 100%);
  clip-path: circle(60% at right);

  @include mobile($mobile-min-screen, $mobile-max-screen) {
    & {
      display: none;
    }
  }
}
