@use '../helpers' as *;

.home_section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left_section {
  height: 40%;
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;

  @include mobile($mobile-min-screen, $mobile-max-screen) {
    & {
      width: 100%;
    }
 }
}

/* ::::::::::: Circle ::::::::::: */

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, color('seconde-color') 0%, color('main-color') 100%);
  clip-path: circle(60% at right);

  @include mobile($mobile-min-screen, $mobile-max-screen) {
     & {
       display: none;
     }
  }
}


