
<!--<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">
    </div>

    <div class="d-flex" style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      text-align: center;
      height: 50px;">
       <form class="w-10 me-3">
        <Label class="usr_name" style="margin-top: 5%;">User Name</Label>
      </form>

        <a type="button" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2">
          <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
        </a> 
    </div>
  </div>
</header>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
-->

<!-- Page body -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
          <app-actions></app-actions>
      </div>
      <!-- <div class="col-md-5 my-3" >
          <app-info-user></app-info-user>
      </div> -->
    </div>
    <div class="row my-3">
          <app-detail-action></app-detail-action>
    </div>
  </div>
