<section class="sinscrire">

        <div class="row img-form p-5" >

                  <!-- Div Form -->
            <div class="formBox col-12 col-lg-7 p-5">
          
                <label for=""></label>
                
                <!-- SIGNUP Form start -->
                <form #addNewContactForm="ngForm" [formGroup]="userForm" (ngsubmit)="addNewContact(addNewContactForm)" >
                     
                        <div class="form-group">
                           
                                <label for="userId">Email:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="userId" id="userId" formControlName="email" ngModel>
                           
                        </div>
                    
                        <div class="form-group">    
                                <label for="id">First name:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="id" id="id" formControlName="first_name" ngModel>
                        </div>   
                    
                    
                        <div class="form-group">    
                                <label for="title">Last name:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="title" id="title" formControlName="last_name" ngModel>
                        </div>    
                    
                    
                        <div class="form-group">    
                                <label for="message">Message:</label>
                                <textarea class="form-control rounded-pill" 
                                name="message" id="message" formControlName="message" ngModel></textarea>
                       </div>   
                                
                    
                       
                       
                         <br><button class="form-control btn rounded-pill" [disabled]="!addNewContactForm.valid" (click)="addNewContact(userForm)" >Submit</button>
                       
            
                    </form>
         
                </div>



          <!-- Div container (image & content) start-->
           <div class="imagecontainer col-lg-5 p-5">

                <div class="">
                        <h1>CONTACT US</h1><br><br><br>
                        <h4>If you have any question or queries or queries a member of staff will always be happy to help.
                         Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.
                         </h4>
                          
                    </div>
          
        
          </div>
          <!-- Div container END -->
          
          
          
          
              
            </div>
          
      </section>

















<!-- 
   <section class="">
        
           <div class="global d-flex justify-content-around my-5">
        
                <div class="col-md-5 mx-3">
                        <h1>Contact US</h1>
                    <form #addNewContactForm="ngForm" [formGroup]="userForm" (ngsubmit)="addNewContact(addNewContactForm)" >
                     
                        <div class="form-group">
                           
                                <label for="userId">Email:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="userId" id="userId" formControlName="email" ngModel>
                           
                        </div>
                    
                        <div class="form-group">    
                                <label for="id">First name:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="id" id="id" formControlName="first_name" ngModel>
                        </div>   
                    
                    
                        <div class="form-group">    
                                <label for="title">Last name:</label>
                                <input type="text" class="form-control rounded-pill" 
                                name="title" id="title" formControlName="last_name" ngModel>
                        </div>    
                    
                    
                        <div class="form-group">    
                                <label for="message">Message:</label>
                                <textarea class="form-control rounded-pill" 
                                name="message" id="message" formControlName="message" ngModel></textarea>
                       </div>   
                                
                    
                       
                       
                         <br><button class="form-control btn rounded-pill" [disabled]="!addNewContactForm.valid" (click)="addNewContact(userForm)" >Submit</button>
                       
            
                    </form>
         

            <div class="imageBox col-md-4 mx-4 d-flex flex-column justify-content-center ">
                <h4>If you have anu question or queries or queries a member of staff will always be happy to help.
                        Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.
                      </h4>
                  
            </div>
        </div>
   </section> -->
<!-- 
    <div *ngFor="let contact of data">
       <table  border="1">
        <td>{{contact.email}}</td>
        <td>{{contact.first_name}}</td>
        <td>{{contact.last_name}}</td>
        <td>{{contact.message}}</td>
       </table>
    </div> -->
<!-- <div *ngIf="msgTrue">Contact created succefully</div> -->
