@use '../helpers' as *;


// Main card
.main-card {
    border-radius: $main-border-radius !important;
    box-shadow: $card-box-shadow;
}

// Horizontal card
.horizontal-card {
    width: 200px;
    height: 300px;
    border-radius: $main-border-radius !important;
    box-shadow: $card-box-shadow;
}