:root {
    /* colors */
    --mainColor: #B8B5FF;
    --secondaryColor: #E4FBFF;
    /* border raduis */
    --masterBorderRadius: 20px;
    /* fonts size */
    --minFontSize: 12px;
    /* text color */
    --txtColor: #fff;
    /* main bg color  */
    --mainBgColor: #FDFDFF;
    /* main font-weight */
    --mainFontWeight:800;
    /* Color Text */
    --ColorText:gray;
  }

  /* Bienvenue.... */
  h1
  {
      color: var(--mainColor);
  }

  /* Ou text */
  h3{
      color: #858585;
  }

  p{
      color: var(--ColorText);
  }

  .txtconnect{
      color: var(--mainColor);
  }

  /* text between lign  "" ____ou____"" */
  .hr-sect {
	display: flex;
	flex-basis: 80%;
	align-items: center;
	color:var(--mainColor);
	margin: 6px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: var(--mainColor);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.inscription{
    margin-top: 5%;
    margin-bottom: 10%;
}



