@use '../../helpers' as *;


.container {
  position: relative;
  width: 100%;
  background-color: color('light');
  height: 100vh;
  overflow-x: hidden;
}

.FormsContainer {
  // position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// .SigninSignup {
  // position: absolute;
  // top: 10%;
  // transform: translate(-50%, -50%);
  // left: 75%;
  // width: 50%;
  // transition: 1s 0.7s ease-in-out;
  // display: grid;
  // grid-template-columns: 1fr;
  // z-index: 5;
// }

.form {
  margin-top: 10%;
  margin-left: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  // transition: all 0.2s 0.7s;
  overflow: hidden;
  // grid-column: 1 / 2;
  // grid-row: 1 / 2;

  &.SignUpForm {
    opacity: 0;
    z-index: 1;
  }

  &.SignInForm {
    z-index: 2;
  }
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.InputField {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: $main-border-radius;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  & input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  & i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  & input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
}

.btn:hover {
  background-color: color('seconde-color');
}

.btn {
  width: 150px;
  background-color: color('main-color');
  border: none;
  outline: none;
  height: 49px;
  border-radius: $main-border-radius;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  &.transparent {
    margin: 0;
    background: none;
    border: $main-border #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
}


.PanelsContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, color('seconde-color') 0%, color('main-color') 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;

  & .content {
    color: color('light');
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
    margin-top: 6rem;
  }

  & h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  & p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
}

.LeftPanel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.RightPanel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.RightPanel .image,
.RightPanel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.SignUpMode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.SignUpMode .LeftPanel .image,
.container.SignUpMode .LeftPanel .content {
  transform: translateX(-800px);
}

.container.SignUpMode .SigninSignup {
  left: 25%;
}

.container.SignUpMode .form.SignUpForm {
  opacity: 1;
  z-index: 2;
}

.container.SignUpMode .form.SignInForm {
  opacity: 0;
  z-index: 1;
}

.container.SignUpMode .RightPanel .image,
.container.SignUpMode .RightPanel .content {
  transform: translateX(0%);
}

.container.SignUpMode .LeftPanel {
  pointer-events: none;
}

.container.SignUpMode .RightPanel {
  pointer-events: all;
}
