<!-- Desktop Menu -->

<nav class="py-3 Desktop">
 
  <input type="checkbox" name="check" id="check" >
  <label for="check" class="checkbtn">
    <i class="fas fa-bars toggle"></i>
  </label>

<div class="d-flex justify-content-between  w-100 "> 

  <div>
      <!-- Button Langue -->
  <ul class="mx-2 list-unstyled ">
    <li>
      <a href="" class="text-decoration-none" class="main-btn-secondary text-decoration-none px-3 py-2">
        <!-- <i class="far fa-language main-btn-secondary"></i> -->
        Langue</a>
    </li>
  </ul>
  </div>

  <!-- Button HOME/ABOUT/CONTACT -->
<div class="homebtn">
  <ul class="d-flex flex-nowrap list-unstyled ">
    <li class="item">
      <a href="" class="px-3 py-2 text-decoration-none" 
      [routerLink]="['/']" routerLinkActive="router-link-active">HOME</a>
    </li>

    <li class="px-2 item">
      <a href="" class="px-3 py-2 text-decoration-none"
      [routerLink]="['about']" routerLinkActive="router-link-active">ABOUT</a>
    </li>

    <li class="item">
      <a href="" class="px-3 py-2 text-decoration-none"
      [routerLink]="['/contact']" routerLinkActive="router-link-active">CONTACT</a>
    </li>
  </ul>
</div>

<div>
<!-- Button SignUp & LogIn -->
  <ul class="d-flex flex-nowrap list-unstyled">
    <li>
      <a href="" class="main-btn-secondary text-decoration-none px-3 py-2">
        <!-- <i class="far fa-sign-in-alt main-btn-secondary px-1"></i> -->
        LOGIN</a>
    </li>

    <li class="px-2">
      <a href="" class="text-decoration-none" class="main-btn-secondary text-decoration-none px-3 py-2">
        <!-- <i class="far fa-user-plus main-btn-secondary px-1"></i> -->
        SIGNUP</a>
    </li>
  </ul>
</div>

</div>

</nav>



<!-- Mobile Menu -->


<nav class="Menu">
 
  <!-- <input type="checkbox" name="check" id="check" >
  <label for="check" class="checkbtn">
   
  </label> -->

  <button class="btn btn-primary">
    <i class="fas fa-bars toggle"></i>
  </button>

<div>
  <ul>
    <li>Langue</li>
  </ul>
</div>

<div>
  <ul>
    <li>HOME</li>
    <li>ABOUT</li>
    <li>CONTACT</li>
  </ul>
</div>

<div class="btn-signlog">
  <ul>
    <li>LogIn</li>
    <li>SignUp</li>
  </ul>
</div>

</nav>