.navbar {
  height: 6vh;
  display: inline-flex;
  z-index: 1;
  position: relative !important;

}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #B8B5FF !important;
 
}

.nav-item {
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-light  {
  background: #B8B5FF;
  color: #fff  !important;
  border-radius: 10px;
}
/* 
.navbar-light .nav-link:hover {
  background: #B8B5FF;
  color: #fff !important;
  border-radius: 10px;
} */

.ul-signlog{
 padding: 0;
 margin: 0;
}

.sign-log{
  display: inline-block;
  background:#E4FBFF ;
  color: gray;
  border-radius: 15px;
 
}
