


  <nav>
    <ul class="menu">
      <li class="logo"><a href="#">Sahm</a></li>
     <div class="item-principal d-flex">
      <li class="item"><a href="#">Home</a></li>
      <li class="item"><a href="#">About</a></li>
      <li class="item"><a href="#">Contact</a></li>
     </div>
      <li class="item button"><a href="#">Login</a></li>
      <li class="item button secondary"><a href="#">Sign Up</a></li>
      <li class="toggle"><span class="bars"></span></li>
    </ul>
    
  </nav>
  

  <script>

    // Shorthand for $( document ).ready()
 $(document).on("change",function() {
     console.log( "ready!" );
     $(".toggle").on("click",function(){
 
 if($(".item").hasClass("active")){
   $(".item").removeClass("active");

 }
 else{
   $(".item").addClass("active");

 }
})
    
 });
  </script>