:root {
    /* colors */
    --mainColor: #693b69;
    --secondaryColor: #ecd4ea;
    /* border raduis */
    --masterBorderRadius: 5px;
    /* fonts size */
    --minFontSize: 12px;
 }
 
.landing {
  position: relative;
  background: url(solidarite.jpg);
  background-size: cover;
  background-position: center;
  color: aliceblue;
  height: 80vh;
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  width: 100%;
  z-index: 0;

}

.landing h2 {
  text-transform: uppercase;
  color: var(--secondaryColor);
}

.landing p {
  line-height: 1.5em;
  color: var(--secondaryColor);
}

.container-div{
  /* margin: 0; */
  /* padding: 150px; */
  font-weight: 500;
  font-size: medium;
  text-align: center;
}

/* .content{
   background: #666559;
   opacity: 0.5;
   border-radius: 10px;
} */
