<section class="landing">
    <div class="container container-div">
        <div class="">
            <div class="content ">
                <h2>Lorem</h2>
                <p>Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit.
                    Qui aliquid at nostrum expedita dignissimos aut nesciunt recusandae aperiam neque?
                    Cupiditate nulla voluptatem cumque possimus perferendis quas dolorem cum saepe error!
                    sit amet consectetur adipisicing elit.
                    Qui aliquid at nostrum expedita dignissimos aut nesciunt recusandae aperiam neque?
                    Cupiditate nulla voluptatem cumque possimus perferendis quas dolorem cum saepe error!sit amet consectetur adipisicing elit.
                    Qui aliquid at nostrum expedita dignissimos aut nesciunt recusandae aperiam neque?
                    Cupiditate nulla voluptatem cumque possimus perferendis quas dolorem cum saepe error!sit amet consectetur adipisicing elit.
                    Qui aliquid at nostrum expedita dignissimos aut nesciunt recusandae aperiam neque?
                    Cupiditate nulla voluptatem cumque possimus perferendis quas dolorem cum saepe error!
                </p>
                <a href="#" class="main-btn p-2 txt-small ">Read More</a>
            </div>
        </div>
    </div>
</section>