:root {
    /* colors */
    --mainColor: #693b69;
    --secondaryColor: #ecd4ea;
    /* border raduis */
    --masterBorderRadius: 5px;
    /* fonts size */
    --minFontSize: 12px;
 }
 
.landing {
  position: relative;
  background: url(solidarite.jpg);
  background-size: cover;
  background-position: center;
  color: aliceblue;
  height: 100vh;
}

.landing h2 {
  text-transform: uppercase;
  color: var(--secondaryColor);
}

.landing p {
  line-height: 1.5em;
  color: var(--secondaryColor);
}

/* .content{
   background: #666559;
   opacity: 0.5;
   border-radius: 10px;
} */
