<section class="landing ">
    
    <div class="container">
       
            <div class="content  ">

                <div class="cercle1 cercleposition1">
                </div>
            

                <div class="row col-12">
                    
                    <!-- Landing Content -->
                    <div class="col-lg-6">
                        
                        <h1 class="font-bold display-3" style="color: #B8B5FF;">Sahm daba</h1>
                        <p class="h3">Lorem ipsum dolor,
                            sit amet consectetur adipisicing elit.
                            Qui aliquid at nostrum expedita dignissimos aut nesciunt recusandae aperiam neque?
                            Cupiditate nulla voluptatem cumque possimus perferendis quas dolorem cum saepe error!
                            sit amet consectetur adipisicing
                        </p>
                       <a href="#" class="main-btn-secondary p-2 ">Commencer Maintenant →</a>
                    </div>

                    <!-- Landing Image -->
                    <div class="col-lg-6">
                        <img src="./../../../../../assets/home.png" alt="landing-iimg" width="600px">
                    </div>

                    <div class="cercle2 cercleposition2">
                    </div>

                    <div class="cercle3 cercleposition3">
                    </div>
                    
                </div>
               

           

            </div>
           
      
       
    </div>
   
    
    
</section>


