<!-- Footer -->
<footer class="d-flex justify-content-center">
  <!-- Footer Links -->
  <div class="container d-block  justify-content-center ">

    <div class="main-icone px-3 my-2">
      <div class="col-md-12">
        
        <!-- Facebook icone -->
     <a href="" class=" mx-4">
      <i class="fab fa-facebook-square main-bg-links  p-2"></i>
     </a>

     <!-- Instagram icone -->
     <a href="" class="mx-2">
       <i class="fab fa-instagram main-bg-links p-2"></i>
      </a>

      <!-- Twitter icohe -->
      <a href="" class=" mx-4">
       <i class="fab fa-twitter main-bg-links  p-2"></i>
      </a>

      <!-- LinkedIn icone
      <a href=""> 
       <i class="fab fa-linkedin px-4"></i>
      </a> -->

      <!-- Youtube icone -->
      <a href="" class="mx-2">
       <i class="fab fa-youtube main-bg-links p-2"></i>
      </a>

      <!-- Google+
      <a href="">
       <i class="fab fa-google-plus px-4 "></i>
      </a> -->
      </div>
    </div>
 <!-- Copyright -->
 <p class="w-100 d-flex justify-content-end mx-auto">© 2021 Copyright: <span>SAHM</span></p>
 <!-- Copyright -->
  </div>
  <!-- Footer Links end -->

  <!-- Copyright Mobile -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
  <span>SAHM</span>
    
  </div> -->

</footer>
<!-- Footer -->