<!-- Footer -->
<footer class="page-footer font-small  pt-4 main-bg">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <div class="main-icone">
      <div class="col-md-12">
        
        <!-- Facebook icone -->
     <a href="">
      <i class="fab fa-facebook px-4 aa"></i>
     </a>

     <!-- Instagram icone -->
     <a href="">
       <i class="fab fa-instagram px-4 "></i>
      </a>

      <!-- Twitter icohe -->
      <a href="">
       <i class="fab fa-twitter px-4"></i>
      </a>

      <!-- LinkedIn icone
      <a href=""> 
       <i class="fab fa-linkedin px-4"></i>
      </a> -->

      <!-- Youtube icone -->
      <a href="">
       <i class="fab fa-youtube px-4"></i>
      </a>

      <!-- Google+
      <a href="">
       <i class="fab fa-google-plus px-4 "></i>
      </a> -->
      </div>
    </div>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 txtfooter">© 2021 Copyright: 
    <a href="" class="text-decoration-none">SAHM</a>
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->