:root {
    /* colors */
    --mainColor: #B8B5FF;
    --secondaryColor: #E4FBFF;
    /* border raduis */
    --masterBorderRadius: 20px;
    /* fonts size */
    --minFontSize: 12px;
    /* text color */
    --txtColor: #fff;
    /* main bg color  */
    --mainBgColor: #FDFDFF;
     /* Color Text */
  --ColorText:gray;
    
  }

  /* Color of icones */
.fab{
    color: var(--mainBgColor);
}

/* Incones */
.main-icone{
    display:inline-flex;
}

/* Copyright text */
p{
    color: var(--ColorText);
}

/* Footer Mobile */
@media screen and (max-width:800px) {
    .container{
        display: block !important;
        margin-left: 30px;
        
    }
    .copyright{
        margin-top: 5px;
        margin-left: 60px;
    }
}

