<!-- Footer -->
<footer class=" pt-4 d-flex justify-content-center">
  <!-- Footer Links -->
  <div class="container d-flex  justify-content-start ">

    <div class="main-icone">
      <div class="col-md-12">
        
        <!-- Facebook icone -->
     <a href="" class=" mx-4">
      <i class="fab fa-facebook-square main-bg-links p-2"></i>
     </a>

     <!-- Instagram icone -->
     <a href="" class="">
       <i class="fab fa-instagram main-bg-links p-2"></i>
      </a>

      <!-- Twitter icohe -->
      <a href="" class=" mx-4">
       <i class="fab fa-twitter main-bg-links p-2"></i>
      </a>

      <!-- LinkedIn icone
      <a href=""> 
       <i class="fab fa-linkedin px-4"></i>
      </a> -->

      <!-- Youtube icone -->
      <a href="" class="">
       <i class="fab fa-youtube main-bg-links p-2"></i>
      </a>

      <!-- Google+
      <a href="">
       <i class="fab fa-google-plus px-4 "></i>
      </a> -->
      </div>
    </div>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <p class="w-50 d-flex justify-content-end mx-5">© 2021 Copyright: <span>SAHM</span></p>
  <!-- Copyright -->

</footer>
<!-- Footer -->