
:root {
    /* colors */
    --mainColor: #E4FBFF;
    --secondaryColor: #B8B5FF;
    /* border raduis */
    --masterBorderRadius: 5px;
    /* fonts size */
    --minFontSize: 12px;
    /* text color */
    --txtColor: #fff;
  
  }
  

.page-footer{
    height: -100vh;
    
    display: block;
   
}


.fab{
    color: var(--secondaryColor);
}
.main-icone{
    display:inline-flex;
}