/* You can add global styles to this file, and also import other style files */

:root {
  /* colors */
  --mainColor: #B8B5FF;
  --secondaryColor: #E4FBFF;
  /* border raduis */
  --masterBorderRadius: 20px;
  /* fonts size */
  --minFontSize: 12px;
  /* text color */
  --txtColor: #fff;
  /* main bg color  */
  --mainBgColor: #FDFDFF;
   /* Color Text */
   --ColorText:gray;

}

*{
  background-color: var(--mainBgColor);
}


/* main button */
.main-btn , .main-btn:hover {
  display: inline-block;
  background: var(--mainColor);
  color: var(--mainBgColor) !important;
  border-radius: var(--masterBorderRadius);
  text-transform: uppercase;
  text-decoration: none;
}

/* main button secondary */
.main-btn-secondary , .main-btn-secondary:hover {
  display: inline-block;
  background: var(--secondaryColor);
  color: gray;
  border-radius: var(--masterBorderRadius);
  text-transform: uppercase;
  text-decoration: none;
}


/* fonts eight */
.font-bold {
  font-weight: 900;
}
.font-normal {
  font-weight: 500;
}

/* font size  */
.txt-small {
  font-size: var(--minFontSize);
}

/* active button */
.router-link-active {
    background: var( --mainColor);
    border-radius: var(--masterBorderRadius);
    color: var(--mainBgColor) !important;
    transition: .15s;
    
}


/*  main icone (footer) */
.main-icone{
  display: inline-block;
  font-size: xx-large;
  justify-content:center;
}


/* eclipse */
.eclipse1{
  background: #E4FBFF;
  border-bottom-right-radius: 320px;
  border-bottom-left-radius: 450px;
  border-top-right-radius: 320px;
  border-top-left-radius: 450px;
  width: 20%;
  height: 20vh;
  justify-content: start;
  transform: rotate(125deg); 
  z-index: -1;
  opacity: 0.3;
  display: flex;
  position: absolute;
  animation: moveeclipse  ease-out 4s infinite;
}

.eclipse2{
  background: #B8B5FF;
  border-bottom-right-radius: 5000px;
  border-bottom-left-radius: 5050px;
  border-top-right-radius: 5000px;
  border-top-left-radius: 5050px;
  width: 10%;
  height: 10vh;
  transform: rotate(125deg); 
  z-index: -1;
  opacity: 0.1;
  display: inline-flex;
  justify-items: flex-end;
  position: absolute;
  animation: moveeclipse  ease-out 4s infinite;
}

.eclipse3{
  background: #B8B5FF;
  border-bottom-right-radius: 9050px;
  border-bottom-left-radius: 9000px;
  border-top-right-radius: 9050px;
  border-top-left-radius: 9000px;
  width: 20%;
  height: 15vh;
  transform: rotate(55deg); 
  z-index: -1;
  opacity: 0.1;
  display: inline-flex;
  justify-items: flex-start;
  position: absolute;
  animation: moveeclipse  ease-out 4s infinite;
}

@keyframes moveeclipse   {
  0%   {}
  50% { margin-top: -10px;}
  100% {}
}

/* main bg for links */
.main-bg-links{
  background-color: var(--mainColor);
  padding: 10px;
  border-radius: 20px;
}