/* You can add global styles to this file, and also import other style files */

:root {
  /* colors */
  --mainColor: #E4FBFF;
  --secondaryColor: #B8B5FF;
  /* border raduis */
  --masterBorderRadius: 20px;
  /* fonts size */
  --minFontSize: 12px;
  /* text color */
  --txtColor: #fff;
  


}


/* main button */
.main-btn {
  display: inline-block;
  background: var(--mainColor);
  color: gray;
  border-radius: var(--masterBorderRadius);
  text-transform: uppercase;
  text-decoration: none;
}

/* .main-btn:hover {
  background: var(--mainColor);
  color: gray;
} */

/* fonts eight */
.font-bold {
  font-weight: 900;
}
.font-normal {
  font-weight: 500;
}

/* font size  */
.txt-small {
  font-size: var(--minFontSize);
}

/* active button */
.router-link-active {
    background: var( --secondaryColor);
    border-radius: var(--masterBorderRadius);
    color: #fff !important;
}


/*  main icone (footer) */
.main-icone{
  display: inline-block;
  font-size: xx-large;
  justify-content:center;
}


/* main background */ 
.main-bg{
  background: var(--txtColor)  ;
  color:var(--secondaryColor);
  border-radius: var(--masterBorderRadius)
}