@use './helpers' as *;

.HomeBody {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home__img {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.home__data {
  width: 50%;
  height: 40%;
  padding: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.home__title {
  width: 100%;
}

.home__button {
  display: inline-block;
  background-color: color('main-color');
  color: color('light');
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: 0.5s;
}

.home__button:hover {
  background-color: #40b3ff;
  color: color('light');
}

.Home {
  padding: 0;
  margin: 0;
}

/* ::::::::::: Circle ::::::::::: */

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, color('seconde-color') 0%, color('main-color') 100%);
  clip-path: circle(60% at right);
  // z-index: 10;
}

/* ::::::::::: About Us ::::::::::: */

.AboutUs {
  margin-top: 7rem;

  & h2 {
    width: 15%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    color: color('main-color');
    border-bottom: 2px solid color('main-color');
  }
}

.AboutBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.AboutImg {
  text-align: center;
  border: 2px solid transparent;
  border-radius: 12px;
}

/* ::::::::::::: User Type :::::::::::  */

.UserType {
  margin-top: 5rem;

  & h2 {
    width: 50%;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    color: color('main-color');
    border-bottom: 2px solid color('main-color');
  }
}

.UserTypeBtn {
  padding: 3rem;
  text-align: center;
  border: 4px solid color('main-color');
  border-radius: 12px;
  margin-top: 4rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  & h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.UserTypeBtn:hover {
  color: color('light');
  background-color: color('main-color');
  transition: 0.5s;
}

/* ::::::::::: Footer :::::::::::  */

.footer {
  background-color: color('main-color');
  padding: 2rem;
  margin-top: 5rem;
}

.footer h3 {
  color: color('light');
}

.FooterTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FooterIcon {
  color: color('light');
  width: 120px;
}

.FooterIcon:hover {
  color: color('light');
  width: 1rem;
}

.photoSvg {
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .circle,
  .home__img {
    display: none;
  }
  .home__data {
    width: 100%;
    // background-color: red;
    // margin-top: 10rem;
    // margin-bottom: 0;
  }
  .AboutUs {
    margin-top: 0;
    & h2 {
      width: 50%;
    }
    &.title {
      width: 100%;
    }
  }
  .AboutImg {
    width: 250px;
  }
  .AboutDescription {
    text-align: center;
  }
  .UserType {
    & h2 {
      width: 80%;
    }
    
  }
  .UserTypeBtn{
    padding: 0;
    // background-color: black;
    margin-left: auto ;
    margin-right: auto ;
    &.photoSvg{
      width: 100px;
    }
  }
}