<input type="text" id="txt">
<button (click)="numbers()" >Click</button>
<div class="action-header">
  <h2 class="" style="font-size: 30px; color: gray; padding: 20px">
    De quels vous avez besoin ?
  </h2>
  <div class="action-autre text-center d-flex justify-content-center">
    <button
      type="submit"
      id="action_Autre"
      class="btn-autre my-auto h-50 w-75 border-0 rounded-pill text-center"
      data-toggle="tooltip"
      data-placement="top"
      title="Autre besoin"
      (click)="open(this.ModalAutre, 'action_Autre', true)"
      value="Autre Besoin"
    >
      <i class="fas fa-plus mx-2"></i> Autre besoin
    </button>
  </div>
</div>
<div class="div_global d-flex justify-content-center flex-wrap bg-transparent">
  <!-- Vetement card --------------------------------------->
  <label class="card main-border-radius my-3 mx-4">
    <input
      type="checkbox"
      name="action_Vet"
      class="card-input-element d-none  action-input"
      id="action_Vet"
      value="Vêtement"
      (click)="open(this.ModalVetement, 'action_Vet', false);"
    />
    <div class="panel panel-default card-input w-100 h-100">
      <img
        src="./../../../../../../assets/Action/fashion.svg"
        alt="registre-img"
        class="card-img-top mt-4 p-2"
      />
      <div class="panel-body mx-auto w-100">
        <h4 class="card-title text-center title">Vêtements</h4>
        <p class="text-center">Choisir différent type de vêtement.</p>
      </div>
    </div>
  </label>
  <!-- Vetement card END --------------------------------------->

  <!-- Abonnement Transport card --------------------------------------->
  <label class="card main-border-radius my-3 mx-4">
    <input
      type="checkbox"
      name="action_ATransport"
      class="card-input-element d-none action-input"
      id="action_ATransport"
      (change)="
        Unchecked('action_ATransport')
      "
      (click)="open(this.ModalATran, 'action_ATransport', false)"
      value="Abonnement Transport"
      
    />
    <div class="panel panel-default card-input w-100 h-100">
      <img
        src="./../../../../../../assets/Action/Abonnement Trasport/bus (1).svg"
        alt="registre-img"
        class="card-img-top mt-4 p-2"
      />
      <div class="panel-body mx-auto">
        <h4 class="card-title text-center title">Abonnement Transport</h4>
        <p class="text-center">Vous offre une carte d'abonnement bus ou tram</p>
      </div>
    </div>
  </label>
  <!-- Abonnement Transport card END --------------------------------------->

  <!-- Abonnement Telephone card --------------------------------------->
  <label class="card main-border-radius my-3 mx-4">
    <input
      type="checkbox"
      name="action_ATelephone"
      class="card-input-element d-none action-input"
      id="action_ATelephone"
      (change)="
        Unchecked('action_ATelephone')
      "
      (click)="open(this.ModalATele, 'action_ATelephone', false)"
      value="Abonnement Telephone"
      
    />
    <div class="panel panel-default card-input w-100 h-100">
      <img
        src="./../../../../../../assets/Action/smartphone.svg"
        alt="registre-img"
        class="card-img-top mt-4 p-2"
      />
      <div class="panel-body mx-auto">
        <h4 class="card-title text-center title">Abonnement Telephone</h4>
        <p class="text-center">
          Vous offre une abonnement dans différent opérateurs télécoms marocains
        </p>
      </div>
    </div>
  </label>
  <!-- Abonnement Telephone card END --------------------------------------->

  <!-- Abonnement Formation card --------------------------------------->
  <label class="card main-border-radius my-3 mx-4">
    <input
      type="checkbox"
      name="action_Formation"
      class="card-input-element d-none action-input"
      id="action_Formation"
      (change)="
        Unchecked('action_Formation')
      "
      (click)="open(this.ModalFormation, 'action_Formation', false)"
      value="Formation"
      
    />
    <div class="panel panel-default card-input w-100 h-100">
      <img
        src="./../../../../../../assets/Action/education.svg"
        alt="registre-img"
        class="card-img-top mt-4 p-2"
      />
      <div class="panel-body mx-auto">
        <h4 class="card-title text-center title">Formation</h4>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </label>
  <!-- Abonnement Formation card END --------------------------------------->

  <!-- Abonnement Autre card --------------------------------------->
  <!-- <label class="card main-border-radius my-3 mx-4">
    <input
      type="checkbox"
      name="action_Autre"
      class="card-input-element  d-none"
      id="action_Autre"
      (change)="
        MaximumSelection('action_Autre'); open(this.ModalAutre , 'action_Autre')
      "
      value="Autre"
    />
    <div class="panel panel-default card-input w-100 h-100">
      <img
        src="./../../../../../../assets/Action/other.svg"
        alt="registre-img"
        class="card-img-top"
      />
      <div class="panel-body mx-auto">
        <h4 class="card-title text-center title">Aure</h4>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </label> -->
  <!-- Abonnement Autre card END --------------------------------------->
</div>

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Vetement Modal -->
<app-global-model [id]="ModalVetement">
  <div class="div_global d-flex justify-content-center flex-wrap">
    <div class="modal-header w-100">
      <h5 class="modal-title m-0 p-2">Choisir un type de vêtement</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <!-- <form #f="ngForm" [formGroup]="RadioForm"> -->

      <label class="card-item main-border-radius">
        <input
          type="radio"
          name="product"
          class="card-input-element d-none d-none"
          id="product_tshirt"
          value="T-shirt"
          (change)="Size('product_tshirt', 'top')"
          [(ngModel)]="vetement"
        />
        <div class="card-body w-100 h-100">
          <img
            src="./../../../../../../assets/tshirt.svg"
            alt="registre-img"
            class="card-img"
            width="450px"
          />
          <div class="item-title h-25 text-center d-flex justify-content-center">
            <h4 class="title text-center my-3 p-0">T Shirt</h4>
          </div>
        </div>
      </label>
  
      <label class="card-item main-border-radius">
        <input
          type="radio"
          name="product"
          class="card-input-element d-none"
          id="product_sweater"
          value="Sweater"
          (change)="Size('product_sweater', 'top')"
          [(ngModel)]="vetement"
        />
        <div class="card-body w-100 h-100">
          <img
            src="./../../../../../../assets/sweater.svg"
            alt="registre-img"
            class="card-img"
          />
          <div class="item-title h-25 text-center d-flex justify-content-center">
            <h4 class="title text-center my-3 p-0">Sweater</h4>
          </div>
        </div>
      </label>
  
      <label class="card-item main-border-radius">
        <input
          type="radio"
          name="product"
          class="card-input-element d-none"
          id="product_pullCapuche"
          value="pullCapuche"
          (change)="Size('product_pullCapuche', 'top')"
          [(ngModel)]="vetement"
          
        />
        <div class="card-body w-100 h-100">
          <img
            src="./../../../../../../assets/pull-avec-capuche.svg"
            alt="registre-img"
            class="card-img"
            width="450px"
          />
          <div class="item-title h-25 text-center d-flex justify-content-center">
            <h4 class="title text-center my-3 p-0">pull avec capuche</h4>
          </div>
        </div>
      </label>
  
      <label class="card-item main-border-radius">
        <input
          type="radio"
          name="product"
          class="card-input-element d-none"
          id="product_jeans"
          value="jeans"
          (change)="Size('product_jeans', 'top')"
          [(ngModel)]="vetement"
          
        />
        <div class="card-body w-100 h-100">
          <img
            src="./../../../../../../assets/jeans.svg"
            alt="registre-img"
            class="card-img"
            width="450px"
          />
          <div class="item-title h-25 text-center d-flex justify-content-center">
            <h4 class="title text-center my-3 p-0">Pantalon</h4>
          </div>
        </div>
      </label>
  
      <label class="card-item main-border-radius">
        <input
          type="radio"
          name="product"
          class="card-input-element d-none"
          id="product_sneakers"
          value="sneakers"
          (change)="Size('product_sneakers', 'bottom')"
          [(ngModel)]="vetement"
          
        />
        <div class="card-body w-100 h-100">
          <img
            src="./../../../../../../assets/sneakers.svg"
            alt="registre-img"
            class="card-img"
            width="450px"
          />
          <div class="item-title h-25 text-center d-flex justify-content-center">
            <h4 class="title text-center my-3 p-0">chaussure</h4>
          </div>
        </div>
      </label>
    
   
    <!-- </div> -->

    <!-- Size -->
    <!-- Size Top -->
    <div class="size div_size_top" id="size_Top" style="display: none">
      <h3 class="text-secondary m-4">Taille :</h3>
      <div class="size_top d-flex justify-content-center">
        <div class="form-check form-check-inline mx-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="XL"
            [(ngModel)]="size"
          />
          <label class="form-check-label" for="inlineRadio1">XL</label>
        </div>
        <div class="form-check form-check-inline mx-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="L"
            [(ngModel)]="size"
        />
          <label class="form-check-label" for="inlineRadio2">L</label>
        </div>
        <div class="form-check form-check-inline mx-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="M"
            [(ngModel)]="size"
          />
          <label class="form-check-label" for="inlineRadio3">M</label>
        </div>
        <div class="form-check form-check-inline mx-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio4"
            value="S"
            [(ngModel)]="size"
          />
          <label class="form-check-label" for="inlineRadio4">S</label>
        </div>
        <div class="form-check form-check-inline mx-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio5"
            value="XS"
            [(ngModel)]="size"
          />
          <label class="form-check-label" for="inlineRadio5">XS</label>
        </div>
      </div>
    </div>
    <!-- /Size Top -->

    <!-- Size buttom -->
    <div class="size div_size_buttom" id="size_Bottom" style="display: none">
      <h3 class="text-secondary m-4">Taille :</h3>
      <div class="d-flex justify-content-center">
        <input
          type="number"
          name="size_sneakers"
          id="size_sneakers"
          class="text-center text-secondary"
          value="0"
          min="35"
          max="47"
          [(ngModel)]="size"
          />
        EU
      </div>
    </div>
    <!-- /Size buttom -->
    <div class="modal-footer w-100 text-center">
      <button
        type="button"
        class="btn btn-secondary rounded-pill"
        data-bs-dismiss="modal"
        (click)="Unchecked(null,'product')"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-submit rounded-pill"
        (click)="ValidateAction('action_Vet');Submit()"
        data-bs-dismiss="modal"
      >
        Submit
      </button>
    </div>
  <!-- </form> -->
  </div>
</app-global-model>
<!-- /Vetement Modal -->

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Abonnement Telephone Modal -->
<app-global-model [id]="ModalATele">
  <div class="div_global d-flex justify-content-center flex-wrap">
    <div class="modal-header w-100">
      <h5 class="modal-title m-0 p-2">Choisir votre type de réseau</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <!-- <div class="row d-flex justify-content-around p-3 bg-danger"> -->

    <!-- Bus card -->
    <label class="card-item main-border-radius">
      <input
        type="radio"
        name="Transport"
        class="card-input-element d-none"
        id="transport_bus"
        value="bus"
      />
      <div class="card-body w-100 h-100">
        <img
          src="./../../../../../../assets/Action/Abonnement Telephone/maroc-telecom.svg"
          alt="registre-img d-none"
          class="card-img"
        />
        <div class="item-title">
          <h4 class="title text-center">Maroc telecom</h4>
        </div>
      </div>
    </label>
    <!-- Bus card END -->

    <!-- Tram card -->
    <label class="card-item main-border-radius">
      <input
        type="radio"
        name="Transport"
        class="card-input-element d-none"
        id="transport_tram"
        value="tram"
      />
      <div class="card-body w-100 h-100">
        <img
          src="./../../../../../../assets/Action/Abonnement Telephone/orange-2.svg"
          alt="registre-img"
          class="card-img"
        />
        <div class="item-title">
          <h4 class="title text-center">Orange</h4>
        </div>
      </div>
    </label>
    <!-- Tram card END -->

    <!-- Tram card -->
    <label class="card-item main-border-radius">
      <input
        type="radio"
        name="Transport"
        class="card-input-element d-none"
        id="transport_tram"
        value="tram"
      />
      <div class="card-body w-100 h-100">
        <img
          src="./../../../../../../assets/Action/Abonnement Telephone/inwi.svg"
          alt="registre-img"
          class="card-img"
          width="450px"
        />
        <div class="item-title">
          <h4 class="title text-center">Inwi</h4>
        </div>
      </div>
    </label>
    <!-- Tram card END -->

    <div class="modal-footer w-100 text-center">
      <button
        type="button"
        class="btn btn-secondary rounded-pill"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-submit rounded-pill"
        (click)="ValidateAction('action_ATelephone');Submit()"
        data-bs-dismiss="modal"
      >
        Submit
      </button>
    </div>
  </div>
</app-global-model>
<!-- /Abonnement Telephone Modal -->

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Abonnement Transport Modal -->
<app-global-model [id]="ModalATran">
  <div class="div_global d-flex justify-content-center flex-wrap">
    <div class="modal-header w-100">
      <h5 class="modal-title m-0 p-2">Choisir un type de Transport</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <!-- <div class="row d-flex justify-content-around p-3 bg-danger"> -->

    <!-- Bus card -->
    <label class="card-item main-border-radius">
      <input
        type="radio"
        name="Transport"
        class="card-input-element d-none"
        id="transport_bus"
        value="bus"
      />
      <div class="card-body w-100 h-100">
        <img
          src="./../../../../../../assets/Action/Abonnement Trasport/bus.svg"
          alt="registre-img d-none"
          class="card-img"
        />
        <div class="item-title">
          <h4 class="title text-center">Bus</h4>
        </div>
      </div>
    </label>
    <!-- Bus card END -->

    <!-- Tram card -->
    <label class="card-item main-border-radius">
      <input
        type="radio"
        name="Transport"
        class="card-input-element d-none"
        id="transport_tram"
        value="tram"
      />
      <div class="card-body w-100 h-100">
        <img
          src="./../../../../../../assets/Action/Abonnement Trasport/tram.svg"
          alt="registre-img"
          class="card-img"
          width="450px"
        />
        <div class="item-title">
          <h4 class="title text-center">Tram</h4>
        </div>
      </div>
    </label>
    <!-- Tram card END -->

    <div class="modal-footer w-100 text-center">
      <button
        type="button"
        class="btn btn-secondary rounded-pill"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-submit rounded-pill"
        (click)="ValidateAction('action_ATransport');Submit()"
        data-bs-dismiss="modal"
      >
        Submit
      </button>
    </div>
  </div>
  <!-- </div> -->
</app-global-model>
<!-- /Abonnement Transport Modal -->

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Formation Modal -->
<app-global-model [id]="ModalFormation">
  <div class="div_global d-flex justify-content-center flex-wrap">
    <div class="modal-header w-100">
      <h5 class="modal-title m-0 p-2">
        Taper le type de formation que vous voulez
      </h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <form action="" class="w-100" #f="ngForm" [formGroup]="ActionValidator">
      <div class="modal-body">
        <div class="form-group">
          <textarea
            class="form-control rounded-pill"
            name="text_besoin"
            id="text_besoin"
            placeholder="..."
            formControlName="TxtBesoin"
            ngModel
            required
            #TxtBesoin
          ></textarea>
        </div>
        <!-- Error Message !! -->
        <span
          class="help-block px-2"
          *ngIf="
            !ActionValidator.controls['TxtBesoin'].valid &&
            ActionValidator.controls['TxtBesoin'].touched
          "
          >Prénom est invalid !!!!!</span
        >
      </div>
    </form>

    <div class="modal-footer w-100 text-center">
      <button
        type="button"
        class="btn btn-secondary rounded-pill"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-submit rounded-pill"
        [disabled]="!f.valid"
        (click)="ValidateAction('action_Formation');Submit()"
        data-bs-dismiss="modal"
      >
        Submit
      </button>
    </div>
  </div>
</app-global-model>
<!-- /Formation Modal -->

<!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

<!-- Autre Modal -->
<app-global-model [id]="ModalAutre">
  <div class="div_global d-flex justify-content-center flex-wrap">
    <div class="modal-header w-100">
      <h5 class="modal-title m-0 p-2">Tapez votre besoin</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>

    <form action="" class="w-100" #f="ngForm" [formGroup]="ActionValidator">
      <div class="modal-body">
        <div class="form-group">
          <textarea
            class="form-control rounded-pill"
            name="text_besoin"
            id="text_besoin"
            placeholder="..."
            formControlName="TxtBesoin"
            ngModel
            required
            #TxtBesoin
          ></textarea>
        </div>
        <!-- Error Message !! -->
        <span
          class="help-block px-2"
          *ngIf="
            !ActionValidator.controls['TxtBesoin'].valid &&
            ActionValidator.controls['TxtBesoin'].touched
          "
          >Prénom est invalid !!!!!</span
        >
      </div>
    </form>

    <div class="modal-footer w-100 text-center">
      <button
        type="button"
        class="btn btn-secondary rounded-pill"
        data-bs-dismiss="modal"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-submit rounded-pill"
        (click)="ValidateAction('action_Autre');Submit()"
        data-bs-dismiss="modal"
      >
        Submit
      </button>
    </div>
  </div>
</app-global-model>
<!-- /Autre Modal -->

<!-- <button (click)="Test()">Click</button> -->
