

  .container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    /* width: 25%;
    height: 25%;
    margin: 12px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(126, 126, 126);
    border:0.1 solid transparent ;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 0px rgb(0,0,0,0.5); */
    width: 20%;
    height:23rem;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    cursor: pointer;
    margin: 10px;
    transition: all .2s ease-in-out;
  }
  .card:hover{
    box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.7);
    /* transition: box-shadow 0.1s ease-in-out;
    transform: scale(1.1, 1.1);
    transition: transform 0.3s ease-in-out; */
    /*-ms-transform: scale(1.1,1.1) 1s;  IE 9 */
  /* transform: scale(1.1,1.1) 1s;  Standard syntax 
  animation: 2s;*/
  transform: scale(1.1,1.1)

  }

  thead{
    height: 5rem;
    margin: 0 auto;
    border: none;
  }
  tr th{
    background-color: transparent;
    border: none;
  }
  tr td{
    background-color: white;
    width: 100%;
  }
  .div_glb{
    border:none;
    border-radius: 12px;
    width: 98%;
    background-color: var(--mainColor);
    margin: auto;
  }
  .table-striped{
    width: 100%;
    margin: auto;
    border: none;

  }
  .card-img-top{
    /* width:100%; */
    margin-top: 25px;
    height: 8rem;
    padding: 1em;
    /* color:#B8B5FF; */
  }
  /* .btn-primary{
    background-color: var(--mainColor);
    border: none;
  }
  .btn-primary:hover{
    background-color: #6C63FF ; 
  }*/
  @media only screen and (max-width: 1000px) {
    .container{
      display: flex;
      flex-direction:column;
    }
    .div_glb{
      width: 100%;
      /* margin: auto; */
      /* margin: 10px ; */
    }
    .card{
      width: 80%;
      margin: auto;
      margin-top: 2em;
    }
  }

  .card-input-element {
      display: none;
    }

  .card-input{
    border: 5px solid transparent ;
    border-radius: 30px;

  }
  
  .card-input-element:checked ~ .card-input{
    border: 5px solid #6C63FF ; 
     /* background-color: #B8B5FF ; */
    /*/* background: rgb(0,0,0);
    background: linear-gradient(351deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);  */
}

/*  .card-input-element:checked ~ .card-input .panel-body .card-title ,
  .card-input-element:checked ~ .card-input .panel-body p{
     border: 4px solid #6C63FF ; 
    color: white ;
  }*/
  


 

  

   .card-input-element:checked{
    background: #6C63FF;
     border-color: #6C63FF;
   }



   /* :::::::::::::::::::::::::::Vetement:::::::::::::::::::::::::: */

   

.size{
  display: flex;
  justify-content: center;
}

.card-img{
  width:100%;
  height: 10em;
  padding: 1em;
  color:#B8B5FF;
}

input[type=number]{
  width: 4em;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6C63FF;
}

.btn-submit{
  color: white;
  background-color: #6C63FF ;
  width: 30%;
}

.btn-submit:hover{
  background-color: #B8B5FF ;
}

h3{
  color: gray;
  margin: 1em;
}

h6{ 
  margin-top: 10%; 
  margin-bottom: 10%; 
  width: 100%
}

.title{
  padding-top: 5px; 
  padding-bottom: 5px; 
  color: #6C63FF;
  font-size: 30px;

}

.btn-secondary{
  width: 20%;
  border: none;
  background-color: rgb(255, 63, 63);
}

.btn-secondary:hover{
  background-color: rgb(253, 111, 111);
}

#size_sneakers{
  text-align: center;
  color: gray;
}

@media only screen and (max-width: 1000px) {
  .size_top{
    display: flex;
    flex-direction: column;
  }
  .panel-body{
    width: 100%;
  }

  button{
    width: 30%;
  }

  .action-header{
    /* display: flex; */
    flex-direction: column;
  }

  h2{
    width: 100%;
  }
}






.div_global{
  /* border: 2px solid black; */
  /* padding: 20px; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  border-radius: 30px;
    /* background: chartreuse; */

}

/* .modal-body{
} */



p{
  min-height: 100px;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
  user-select:none;
}

.title{
  font-size: 1.1rem;
  font-weight: 600;
  color: gray;
  user-select:none;
}

.panel-body{
  position: absolute;
  bottom: 0;
  margin: auto;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


.card-vetement{
  width: 25%;
  height:15rem;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  cursor: pointer;
  margin: 10px;
  transition: all .2s ease-in-out;
  background: white;
}

.card-vetement:hover{
  box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.7);
  /* transition: box-shadow 0.1s ease-in-out;
  transform: scale(1.1, 1.1);
  transition: transform 0.3s ease-in-out; */
  /*-ms-transform: scale(1.1,1.1) 1s;  IE 9 */
  /* transform: scale(1.1,1.1) 1s;  Standard syntax 
  animation: 2s;*/
  transform: scale(1.1,1.1)

}

.card-body{
    border: 5px solid transparent ;
    border-radius: 30px;
    height: 100%;
    position: relative;
}


.modal-footer{
  width: 100%;
  /* background-color: red; */
  margin-left: 30px;
  margin-right: 30px;
}

.card-input-element:checked ~ .card-body{
  border: 5px solid #6C63FF ; 
   /* background-color: #B8B5FF ; */
  /*/* background: rgb(0,0,0);
  background: linear-gradient(351deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);  */
}

/* vetement-type */


@media (max-width:992px){
  .div_global{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-vetement{
    width: 80%;
    margin: auto;
  }

 /* label{
    margin-bottom:2rem;
  } */
  .modal-footer{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.vetement-type{
  position: relative;
   bottom: 0px;

  /*width: 100%;
  margin: auto; */
}


.size{
  width: 100%;
  padding: 10px;
}


.action-header{
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-autre{
  background-color: transparent;
  transition: 0.5s  ;
  font-size: 20px;
  color: gray;
}
.btn-autre:hover{
  background-color: rgb(235, 235, 235);
}