
/* 'vetement' sneakers size  */
#size_sneakers{
  border: none;
  border-left: 2px solid #6C63FF;
}

#size_sneakers:focus{
  outline: none;
}



/* action card description */
p{
  min-height: 100px;
  font-family: 'Poppins', sans-serif;
  color: #a0a0a0;
  user-select: none;
}

.panel-body{
  position: absolute;
  bottom: 0;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */



.btn-autre{
  background-color: transparent;
  transition: 0.5s  ;
  font-size: 20px;
  color: gray;
}

.btn-autre:hover{
  background-color: rgb(247, 247, 247);
}

.action-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-autre{
  width: 25%;
}

/* beficiary dashboard action card */

  /* 1-- card with image style */
  .card{
    width: 20%;
    height:23rem;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  .card:hover{
    box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.7);
    transform: scale(1.1,1.1)
  }

  .card-img-top{
    height: 8rem;
  }

  .card-input{
    border: 5px solid transparent ;
    border-radius: 30px;
  }
  
  .card-input-element:checked ~ .card-input{
    border: 5px solid #6C63FF ;
  }

  /* 2-- input radio checked style */
  .card-input{
    border: 5px solid transparent ;
    border-radius: 30px;
  }
  
  .card-input-element:checked ~ .card-input{
    border: 5px solid #6C63FF ;
  }


/* action items card */
  .card-item{
    width: 25%;
    height:15rem;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: white;
    margin: 1em;
  }

  .card-item:hover{
    box-shadow: 0px 0px 20px 1px rgba(204, 204, 204, 0.7);
    transform: scale(1.1,1.1)
  }

  .card-img{
    width: 100%;
    height: 75%;
    padding: 1px;
  }

  .card-body{
    border: 5px solid transparent ;
    border-radius: 30px;
  }

  .card-input-element:checked ~ .card-body{
    border: 5px solid #6C63FF;
  }

  .item-title{
    position: relative;
    bottom: 0px;
  }

  /* vetement size div */
  .size{
    width: 100%;
    padding: 10px;
  }



@media only screen and (max-width: 800px) {
 

  .card{
    width: 80%;
    margin: auto;
    margin-top: 2em;
  }

  .card-item{
 /*   * margin: 1em 3em 1em 3em ; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .card-img{
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .size_top{
    display: flex;
    flex-direction: column;
  }

  .action-header{
    display:flex;
    flex-direction: column;
  }

  .action-autre{
    width: 100%;
    margin: 1em 0 1em 0;
  }

  h2{
    width: 100%;
  }

  
}



  /* Border invalid control */
  textarea.ng-invalid.ng-touched{
    border: 2px solid red;
  }

  /* Border valid control */
  textarea.ng-valid{
  border: 2px solid rgb(34,187,51);
  }

  /* Message error Text */
  .help-block{
    color: #bb2124;
  }