:root {
    /* colors */
    --mainColor: #B8B5FF;
    --secondaryColor: #E4FBFF;
    /* border raduis */
    --masterBorderRadius: 20px;
    /* fonts size */
    --minFontSize: 12px;
    /* text color */
    --txtColor: #fff;
    /* main bg color  */
    --mainBgColor: #FDFDFF;
    /* main font-weight */
    --mainFontWeight:800;
    /* Color Text */
    --ColorText:gray;
    /* Authentification color */
    --authColor:#7DDBEB;
  }

  /* Section (Container) */
  .seconnecter{
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    z-index: 4;
  }

  /* LOGIN Title */
  h2{
      color: var(--authColor);
      font-weight: 700;
      margin-bottom: 50px;
  }

  /* New Here ? text */
  h3{
    color: var(--authColor);
    font-weight: 700;
}

/* Paragraphe */
  p {
      color: var(--ColorText);   
  }
  .p{
    color: var(--ColorText); 
  }


  label{
      color: var(--ColorText);
      font-size: 17px;
      padding-left: 5px;
      font-weight: 600;
  }

  /* LOGIN form */
 .formBox{
     border-radius: 30px;
     background: #FCFCFC;
     z-index: 2;
     margin-left: -27px;
 }

 /* LOGIN Form control */
 .form-control{
     background: #F0F0F0;
     border: none;
     margin: 5px;
     color: var(--ColorText);  
 }

 /* Login Image box & content */
 .imgBox{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     justify-content: flex-end;
     z-index: 4;     
 }


/* Image LOGIN */
 .image{
     justify-content: center;
     align-items: center;
     align-content: center;
     z-index: 4;
 }


 .imagecontainer{
     background: var(--secondaryColor);
     border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    align-items: flex-start !important;
 }

 /* Button LOGIN */
 .btnlog{
     width: 60%;
     border: none;   
 }

  /* Button LOGIN Hover */
 .btnlog:hover{
     background: #ccf6fd;
 }

 /* Border invalid control */
 input.ng-invalid.ng-touched{
     border: 2px solid red;
    }

/* Border valid control */
input.ng-valid{
    border: 2px solid rgb(34,187,51);
}

/* Message error color */
span{
    color: #bb2124;
}

/* Mobile LOGIN form */
 @media screen and (max-width:900px) {
     .panel{
         display: none;
     }

     .imagecontainer{
         border-radius: 30px;
        
     }

     .formBox{
         z-index: 0;
        
     }

     .seconnecter{
         display: flex;
         flex-direction: column;
     }

 }



