<!-- <div class="container mx-4">
    <div class="imgBox"> 
        <img src="./../../../../../../assets/login.png" alt="login">
    </div>

    
    
    <div class="contentBox">
        <div class="formBx">
            <h2>se connecter</h2>
            <form>

                <div class="form-group">
                    <span>Username</span>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group">
                    <span>Password</span>
                    <input type="password" class="form-control">
                </div>

                <div class="remember">
                    <label for=""><input type="checkbox"> Remember me</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Sign in">
                </div>

                <div class="form-group">
                    <p>Don't have an account? <a href="">Sign up</a></p>
                </div>


            </form>
        </div>
    </div>
</div> -->


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<section>
    <div class="container">

        <div class="forms-container">
    
        
    
        
    
          <form action="#" class="sign-in-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <div class="signin">
    
                <h2 class="title" align="center" >Sign in</h2>
    
                <div class="input-feild">
                  <i class="fas fa-user"></i>
                  <input type="text" placeholder="Username" 
                  name="username" ngModel required #username="ngModel"
                  >
                </div>
    
                <div class="input-feild">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password"
                    name="password" ngModel required #password="ngModel"
                    >
                  </div>
                 <input type="submit" class="btn solid main-btn-secondary" value="login">
            </div>
    
            
            
          </form>
        </div>


        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here?</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit, quam maxime fugit error doloremque beatae consecteores amet dignissimos.
                    </p>
                    <button class="btn transparent" [routerLink]="['/signup']" id="sign-up-button"> Sign Up</button>
                </div>
                <img src="./../../../../../../assets/lock.svg" alt="login-img" class="image">
            </div>
        </div>
    </div>
    
</section>